/ {
    aliases {
        led0 = &rgb1_red;    /* punainen */
        led1 = &rgb1_green;  /* vihreä */
        led2 = &rgb1_blue;   /* sininen */
    };
};

&rgb1_red {
    status = "okay";
    gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
};

&rgb1_green {
    status = "okay";
    gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
};

&rgb1_blue {
    status = "okay";
    gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
};
