/ {
    aliases {
        led0 = &rgb1_red;    
        led1 = &rgb1_green;  
        led2 = &rgb1_blue;   

        sw0 = &button_red;
        sw1 = &button_green;
        sw2 = &button_yellow;
    };
};

&button_red {
    status = "okay";
    gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>; /* Muokkaa pinnit laitteesi mukaan */
};

&button_green {
    status = "okay";
    gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
};

&button_yellow {
    status = "okay";
    gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
};
